{% extends "base.html" %}

{% block title %}New User Form{% endblock %}

{% block content %}
<h1>Create New User: </h1>

<form class="new_user_form" method="post" action="/users/new">
    <!-- New user form asking for first name, last name, and image url -->

    <label for="first_name">First Name: </label> 
    <input name="first_name" id="first_name" placeholder="Enter a first name">

    <label for="last_name">Last Name: </label> 
    <input name="last_name" id="first_name" placeholder="Enter a last name">

    <label for="image_url">Image URL: </label> 
    <input name="image_url" id="image_url" placeholder="Provide an image of this user">

    <button type="submit">Add</button>

</form>
{% endblock %}