{% extends "base.html" %}

{% block title %}New User Form{% endblock %}

{% block content %}
<h1>Create New User: </h1>

<form class="new_user_form" method="post" action="/users/new">
    <!-- New user form asking for first name, last name, and image url -->

    <label for="first_name" class="label-form-css">First Name: </label> 
    <input name="first_name" class="input-form-css" placeholder="Enter a first name" required>

    <label for="last_name" class="label-form-css">Last Name: </label> 
    <input name="last_name" class="input-form-css" placeholder="Enter a last name" required>

    <label for="image_url" class="label-form-css">Image URL: </label> 
    <input name="image_url" class="input-form-css" placeholder="Provide an image of this user">

    <button class="green_button" type="submit">Add</button>

</form>
{% endblock %}