{% extends "base.html" %}

{% block title %}{{ user.get_full_name }} New Post Form{% endblock %}

{% block content %}
<h1>Add New Post for {{ user.get_full_name }} </h1>

<form class="post_new_form" method="post" action="/users/{{ user.id }}/posts/new">
    <!-- New post form asking for title, content, and tags -->

    <label for="title" class="label-form-css">Title: </label> 
    <input name="title" class="input-form-css" placeholder="Enter a title" required>

    <label for="content" class="label-form-css">Content: </label> 
    <input name="content" class="input-form-css" placeholder="Enter content" required>
    
    {% for tag in tags %}
        <div class="checkbox-container">
            <input type="checkbox" id="tag" name="tag" value="{{ tag.name }}">
            <label for="tag">{{ tag.name }}</label>
        </div>
    {% endfor %}
    
    <button class="green_button" type="submit">Add</button>
</form>

<div class="cancel-button-container">
    <!-- Button to cancel and go back to individual user page-->
    <form class="post_form_cancel" action="/users/{{ user.id }}">
        <button type="submit" class="button_profile_page edit">Cancel</button>
    </form>
</div>
{% endblock %}