{% extends "base.html" %}

{% block title %}Edit {{ post.title }} By {{ post.user.get_full_name }}{% endblock %}

{% block content %}

<h1> Edit a Post: </h1>

<form class="post_edit_form" method="post" action="/posts/{{ post.user.id }}/edit">
    <!-- Form that user can edit their previous post -->
    
    <label for="title" class="label-form-css">Title: </label> 
    <input name="title" class="input-form-css" value="{{ post.title }}">

    <label for="content" class="label-form-css">Post Content: </label> 
    <input name="content" class="input-form-css" value="{{ post.content }}">

    {% for tag in tags %}
    <div class="checkbox-container">
        <input type="checkbox" id="tag" name="tag" value="{{ tag.name }}"
        {% if tag in post.tags %} checked {% endif %}>
        <label for="tag">{{ tag.name }}</label>
    </div>
    {% endfor %}
    
    <button class="green_button" type="submit">Edit</button>

</form>

<div class="cancel-button-container">
    <!-- Button to go back to user page --> 
    <form class="post_form_cancel" action="/posts/{{ post.id }}">
        <button type="submit" class="button_profile_page edit">Cancel</button>
    </form>

{% endblock %}