{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<div>
    <!-- Container containing post title, content, and user-->
    <h1>{{ post.title }}</h1>

    <p class="post_content">{{ post.content }}</p>

    <p><i>By: {{ post.user.get_full_name }}</i></p>

</div>

<div class="tag-container">
    <h2>Tags:</h2>
    <div class="button-container">
        <!-- Container containing tag buttons that when clicked go to their own page-->
        {% for tag in post.tags %}
            <form action="/tags/{{ tag.id }}">
                <button type="submit" class="button_profile_page cancel">{{ tag.name }}</button>
            </form>
        {% endfor %}
    </div>
</div>

<div class="button-container">
    <!-- Container containing cancel, edit, and delete buttons-->
    <form action="/users/{{ post.user.id }}">
        <button type="submit" class="button_profile_page cancel">Cancel</button>
    </form>

    <form action="/posts/{{ post.id }}/edit">
        <button type="submit" class="button_profile_page edit">Edit</button>
    </form>
    
    <form method="post" action="/posts/{{ post.id }}/delete">
        <button type="submit" class="button_profile_page delete">Delete</button>
    </form>
</div>

{% endblock %}