{% extends "base.html" %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}

<!-- Displays user page with image, full name, and buttons to either edit or delete user. Also, 
contains unordered list of all user's posts with button to add a new one.  -->

<img class="profile_pic" src="{{ user.image_url }}" alt="{{ user.get_full_name }}">

<div class="profile_info">
    <h1 class="user_name">{{ user.get_full_name }}</h1>

    <div class="button-container">
        <form action="/users/{{ user.id }}/edit">
            <button type="submit" class="button_profile_page edit">Edit</button>
        </form>
    
        <form method="post" action="/users/{{ user.id }}/delete">
            <button type="submit" class="button_profile_page delete">Delete</button>
        </form>
    </div>

    <div class="posts-container">
        <h2>Posts</h2>

        <ul class="posts_list">
            {% for post in posts %}
            <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
        
        <form action="/users/{{ user.id }}/posts/new">
            <button type="submit">Add Post</button>
        </form>
    </div>

</div>

{% endblock %}